#ifndef {{all-caps-name}}AUTOMATON_H
#define {{all-caps-name}}AUTOMATON_H

#include <string>
#include "Automaton.h"

using namespace std;

class {{token-name}}Automaton : public Automaton {
public:
    AutomatonResult s0(const string& input, size_t currIndex, int currLine) override;
    TestResult testAutomaton() override;
};

#endif // {{all-caps-name}}AUTOMATON_H

